@font-face{
  src:url('../fonts/futura.TTF');
  font-family:'futura';
}
html,body{
  margin:0;
  padding: 0;
  width:100%;
  height:100%;
}
.wall{
  width:100%;
  height:100%;
}
.heading-part{
  width:90%;
  padding: 5%;
  text-align:center;
  border-bottom:1px solid lightgrey;
  font-family:futura;
}
.boxes-part{
  width:80%;
  padding:2% 10% 2% 10%;
  font-family: futura;
  text-align: center;
}
.boxes-part li{
  list-style-type: none;
  font-size:20px;
  display: inline-block;
  margin:0 20px 0  20px;
}
.boxes-part li img{
  height:20px;
}
.line-sep{
  display: inline-block;
  width:10%;
  background:grey;
  height:1px;
  margin-top:20px;
  margin-bottom: 20px;
}
a{
  text-decoration: none;
  color:black;
}